@charset "utf-8";

html {
	min-height: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 2rem 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
}

a {
	color: #8FAC2F;
}

img {
	border: 0;
}

p {
	line-height: 1.5;
}

li {
	margin-top: 0.4rem;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h3{
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

hr {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #555;
	height: 0.5px;
    clear: both;
}


main {
	width: 100%;
	max-width: 960px;
	min-width: 300px;
	margin: auto;
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	box-sizing: border-box;
}

iframe {
	margin: 0px 0px 40px 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.centr {
	text-align: center;
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
}

.grid-itm-full-width {
	min-height: 150px;
	margin: 0 10px 40px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(100% - 20px);
	        flex: 1 1 calc(100% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-full-width-low-margin {
	min-height: 150px;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(100% - 20px);
	        flex: 1 1 calc(100% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-full-width-hr {
	min-height: 50px;
	margin: 0 10px 20px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(100% - 20px);
	        flex: 1 1 calc(100% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-half {
	min-height: 150px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(50% - 20px);
	        flex: 1 1 calc(50% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-half-list {
	min-height: 150px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(50% - 20px);
	        flex: 1 1 calc(50% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
}

.grid-itm-third {
	min-height: 150px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(33.3% - 20px);
	        flex: 1 1 calc(33.3% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-fourth {
	min-height: 150px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(25% - 20px);
	        flex: 1 1 calc(25% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-itm-two-thirds {
	min-height: 30px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(61.650% - 20px);
	        flex: 1 1 calc(61.650% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.grid-itm-one-fifth {
	min-height: 30px;
	font-size: 1rem;
	margin: 0 10px 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 calc(19.175% - 20px);
	        flex: 1 1 calc(19.175% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.grid-img{
	max-width: 100%;
	height: auto;
}

.grid-cont {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 calc(100% - 20px);
	        flex: 0 1 calc(100% - 20px);
	margin: 0 0 20px 0;
}

@media screen and (max-width: 800px) {
	.grid-itm-half, .grid-itm-third, .grid-itm-fourth {
		-ms-flex-preferred-size: calc(50% - 20px);
		    flex-basis: calc(50% - 20px);
	}
}

@media screen and (max-width: 600px) {
	.grid-itm-half, .grid-itm-third, .grid-itm-fourth, .grid-itm-two-thirds, .grid-itm-one-fifth {
		margin: 0 0 20px;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
}
